target
cobertura.ser
*~
*.epf
*.log
*.log.*
*.tld
.DS_Store
TAGS
prodDb.*
.\#*
tomcat
.classpath
.project
.settings
scripts/create_cpvardirs_unix.sh
.classpath.bak
.project.bak
*.orig
build
/eclipsebin
/dump*
.sass-cache
vbzUsageStats*.tab
web-app/js/vbz.js
test/js/*.js
